/* to reset the page */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* **** */
html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(1rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

body {
  font-family: 'Aldrich', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* to fix the little shake of the animation */
  backface-visibility: hidden;
  /* *** */
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    animation: moveInRight 1s ease-in-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem;
        font-size: 1.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #66acec, #190445);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition-property: all .2s;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #66acec, #190445);
  border-image-slice: 1; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-tertiary {
  letter-spacing: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.skills-primary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  color: #fff;
  border-bottom: 1px solid #fff; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  /* in order to put the effect on the btn-white  */
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #2998ff;
  color: #fff; }
  .btn--green::after {
    background-color: #2998ff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #2998ff;
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #2998ff;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #2998ff;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    position: absolute;
    transition: all .2s;
    left: 10rem;
    top: -3.8rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        width: 50%;
        left: 12rem; } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.skills-box {
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform .3s; }
  .skills-box .white {
    color: #fff; }
  .skills-box__icon {
    font-size: 8rem;
    margin-bottom: .5rem;
    display: inline-block;
    -webkit-background-clip: text; }
  .skills-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #DE1010, #AD0505); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #c8c2a1, #694343); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: url(../../img/project-1/project-1-6.png); }
    .card__picture--2 {
      background-image: url(../../img/project-2/project-2-1.png); }
    .card__picture--3 {
      background-image: url(../../img/project-3/project-3-1.png); }
    .card__picture--4 {
      background-image: url(../../img/project-4/project-4-1.png); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(222, 16, 16, 0.85), rgba(173, 5, 5, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(200, 194, 161, 0.85), rgba(105, 67, 67, 0.85)); }
    .card__heading-span--4 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details .work-tertiary {
      font-size: 2.5rem;
      text-align: center;
      margin-top: -2rem;
      border-bottom: 1px solid lightgray; }
      .card__details .work-tertiary--1 {
        background-image: linear-gradient(to right bottom, #DE1010, #AD0505);
        -webkit-background-clip: text;
        color: transparent; }
      .card__details .work-tertiary--2 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
        -webkit-background-clip: text;
        color: transparent; }
      .card__details .work-tertiary--3 {
        background-image: linear-gradient(to right bottom, #c8c2a1, #694343);
        -webkit-background-clip: text;
        color: transparent; }
      .card__details .work-tertiary--4 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
        -webkit-background-clip: text;
        color: transparent; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__about-box {
    text-align: center;
    color: #fff;
    margin-bottom: 5rem; }
  .card__about-title {
    font-size: 3rem;
    text-transform: uppercase; }
  .card__about-description {
    font-size: 2rem;
    font-weight: 100; }

.map {
  height: 50vh;
  border-radius: 5px; }

.infowindow {
  color: #021d68;
  font-family: 'Aldrich', sans-serif; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(102, 172, 236, 0.5), rgba(25, 4, 69, 0.8)), url(../../img/img1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* to center the bottom */
    text-align: center;
    /* *** */ }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 2rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 6rem) / 5); }
  .row .col-1-of-6 {
    width: calc((100% - 5 * 6rem) / 6); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.footer {
  background-color: #190445;
  padding: 5rem 0;
  font-size: 1.4rem;
  color: #fff; }
  .footer__navigation {
    border-top: 1px solid #fff;
    padding-top: 2rem;
    display: inline-block;
    margin-right: 8rem; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 5.5rem; }
      @media (max-width: 56.25em) {
        .footer__item:not(:last-child) {
          margin-right: 1.5rem; } }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    background-color: #190445;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #fff;
    padding: 2rem;
    font-size: 1.7rem;
    float: right; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(25, 4, 69, 0.2);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 2rem;
      right: 2rem;
      height: 5rem;
      width: 5rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#190445, #66acec);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 2.5rem;
      right: 2.5rem;
      height: 4rem;
      width: 4rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #190445;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  @media (max-width: 37.5em) {
    .navigation__icon {
      margin-top: 2.5rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #190445;
    display: inline-block; }
    @media (max-width: 37.5em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 2.5rem; } }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0 32rem 0; }
      .section-about .u-margin-bottom-big {
        margin-bottom: 4rem; } }

.section-skills {
  padding: 8rem 0 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(32, 80, 129, 0.8), rgba(25, 4, 69, 0.8)), url(../../img/laptop.JPG);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  @media (max-width: 56.25em) {
    .section-skills {
      margin-top: -5rem; } }
  .section-skills > * {
    transform: skewY(7deg); }

.section-projects {
  background-color: #f7f7f7;
  padding: 25rem 0 22rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-projects {
      padding: 15rem 0; }
      .section-projects .u-margin-bottom-big {
        margin-bottom: 4rem; } }

.section-contact {
  padding: 8rem 0 8rem 0;
  background-image: linear-gradient(to right bottom, rgba(32, 80, 129, 0.8), rgba(25, 4, 69, 0.8)), url(../../img/london.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -10rem; }
  .section-contact .contact__text, .section-contact a {
    text-decoration-line: none;
    font-size: 2.5rem;
    margin-top: 3rem;
    width: 100%;
    color: #fff; }
    .section-contact .contact__text .contact__links, .section-contact a .contact__links {
      margin: 0 auto;
      text-align: center; }
      .section-contact .contact__text .contact__links .contact__link, .section-contact a .contact__links .contact__link {
        margin-right: 2rem; }
        .section-contact .contact__text .contact__links .contact__link:hover, .section-contact .contact__text .contact__links .contact__link:active, .section-contact a .contact__links .contact__link:hover, .section-contact a .contact__links .contact__link:active {
          color: #fff;
          box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.4); }
