$color-primary: #2998ff;
$color-primary-light: #66acec;
$color-primary-dark: #190445;

$color-black: #000;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-swapi-light: #ffb900;
$color-swapi-dark: #070603;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-tbc-primary: #2998ff;
$color-tbc-secondary: #00f8d2;

$color-bmw-primary: #1422dfc7;
$color-bmw-secondary: #7f77f7;

$color-grey-dark: #777;
$color-grey-dark-2: #333;
$color-white: #fff;
$color-beige-light: #c8c2a1;
$color-beige-dark: #694343;
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;
$color-blue-dark: #205081;
$color-red: #DE1010;
$color-red-dark: #AD0505;

// Fonts
$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;