.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;;

  &__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1{
        background-image: linear-gradient(to right bottom, $color-red, $color-red-dark);
      }


      &-2{
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }


      &-3{
        background-image: linear-gradient(to right bottom, $color-beige-light, $color-beige-dark);
      }
      
      &-4{
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
      
      &-tbc{
        background-image: linear-gradient(to right bottom, $color-tbc-primary, $color-tbc-secondary);
      }
      
      &-bmw{
        background-image: linear-gradient(to right bottom, $color-bmw-primary, $color-bmw-secondary);
      }
    }
  }


  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  // Front side styling
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1{
      background-image:
      // linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
      url(../../img/project-1/project-1-5.png);
    }
    &--2{
      background-image:
      // linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
      url(../../img/project-2/project-2-1.png);
    }
    &--3{
      background-image:
      // // linear-gradient(to right bottom, $color-beige-light, $color-beige-dark),
      url(../../img/project-3/project-3-1.png);
    }
    &--4{
      background-image: 
      // linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
      url(../../img/project-4/project-4-1.png);
    }
    &--tbc{
      background-image: 
      // linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
      url(../../img/voxly-projects/TheBodyCoach.jpg);
    }
    &--bmw{
      background-image: 
      // linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
      url(../../img/voxly-projects/BMW-alexa.jpeg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1{
      background-image:
      linear-gradient(to right bottom,
      rgba($color-red, .85),
      rgba($color-red-dark, .85));
    }
    &--2{
      background-image:
      linear-gradient(to right bottom,
      rgba($color-secondary-light, .85),
      rgba($color-secondary-dark, .85));
    }
    &--3{
      background-image:
      linear-gradient(to right bottom,
      rgba($color-beige-light, .85),
      rgba($color-beige-dark, .85));
    }
    &--4{
      background-image:
      linear-gradient(to right bottom,
      rgba($color-tertiary-light, .85),
      rgba($color-tertiary-dark, .85));
    }
    &--tbc{
      background-image:
      linear-gradient(to right bottom,
      rgba($color-tbc-primary, .85),
      rgba($color-tbc-secondary, .85));
    }
    &--bmw{
      background-image:
      linear-gradient(to right bottom,
      rgba($color-bmw-primary, .85),
      rgba($color-bmw-secondary, .85));
    }
  }

  &__details {
    padding: 3rem;
    & .work-tertiary{
      font-size: 2.5rem;
      text-align: center;
      margin-top: -2rem;
      border-bottom: 1px solid lightgray;
      &--1{
        background-image: linear-gradient(to right bottom, $color-red, $color-red-dark);
        -webkit-background-clip: text;
        color: transparent;
      }
      &--2{
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        -webkit-background-clip: text;
        color: transparent;
      }
      &--3{
        background-image: linear-gradient(to right bottom, $color-beige-light, $color-beige-dark);
        -webkit-background-clip: text;
        color: transparent;
      }
      &--4{
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
        -webkit-background-clip: text;
        color: transparent;
      }
      &--tbc{
        background-image: linear-gradient(to right bottom, $color-tbc-primary, $color-tbc-secondary);
        -webkit-background-clip: text;
        color: transparent;
      }
      &--bmw{
        background-image: linear-gradient(to right bottom, $color-bmw-primary, $color-bmw-secondary);
        -webkit-background-clip: text;
        color: transparent;
      }
      
    }
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // Back side styling
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__about-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 5rem;
  }
  &__about-title {
    font-size: 3rem;
    text-transform: uppercase;
  }
  &__about-description {
    font-size: 2rem;
    font-weight: 100;
  }


  @include respond(tab-port) {
    height: auto;

    &__side {
      height: auto;
      position: relative;
      border-radius: 3px;

      &--back {
        transform: rotateY(0);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    // Back side styling
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
    }

    &__about-box {
      margin: 2rem 0;
      padding: 0 3rem;
    }
    &__about-title {
      display: none;
    }
    &__about-description {
      font-size: 2rem;
    }
  }
}
