.composition {

    position: relative;
    
    &__photo {
        width: 50%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 50%;
        position: absolute;
        transition: all .2s;
        left: 10rem;
        top: -3.8rem;

        @include respond(tab-port) {
            width: 50%;
            left: 12rem;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}